@font-face {
    font-family: "Adobe Garamond";
    src: url('./Fonts/Garamond/AGaramondPro-Regular.otf');
}

body {
    font-family: "Adobe Garamond";
    text-align: center;
    overflow: inherit;
    /*background-color: #F1Efea;*/
    /*background-image: url('images/artworks-000201096460-cry68y-t500x500.jpg');*/
}

h1 {
    font-size: 11vh;
    letter-spacing: 3px;
    color: #F1Efea;
}

#title {
    position: relative;
    margin: auto;
    /*overflow-x: hidden;*/
    width: 82%;
    height: auto;
    border: 1px solid black;
    text-align: center;
    color: #F1Efea;
}

/*alternating background*/
/* Basic background image styling. */
.background-image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Styles for the alternating / transition effect. */
.toggle-image {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: inherit;
    color: inherit;
    transition: opacity 3s ease-in-out;
}

/* Styles for the specific images. */
.first-image {
    background-image: url('./images/Wallpapers/Whisper-of-the-Heart-whisper-of-the-heart-30619610-1920-1080.jpg');
    z-index: -8;
    opacity: 0;
}

.second-image {
    background-image: url('./images/Wallpapers/garden-of-words-fallen-leaves-flowers-rain-1920x1080-wallpaper.jpg');
    z-index: -7;
    opacity: 0;
}

.fourth-image {
    background-image: url('./images/Wallpapers/605495.jpg');
    z-index: -6;
    opacity: 0;
}

.fifth-image {
    background-image: url('./images/Wallpapers/6TG6qc6.jpg');
    z-index: -4;
    opacity: 0;
}

.seventh-image {
    background-image: url('./images/Wallpapers/only_yesterday_14.jpg');
    z-index: -2;
    opacity: 0;
}

.eigth-image {
    background-image: url('./images/Wallpapers/tumblr_mo107yEaoS1sor8q8o8_1280.jpg');
    z-index: -1;
    opacity: 0;
}

.first-image.show {
    opacity: 1;
}

.second-image.show {
    opacity: 1;
}

.third-image.show {
    opacity: 1;
}

.fourth-image.show {
    opacity: 1;
}

.fifth-image.show {
    opacity: 1;
}

.sixth-image.show {
    opacity: 1;
}

.seventh-image.show {
    opacity: 1;
}

.eigth-image.show {
    opacity: 1;
}

/*Mosaic*/
#mosaicbackground {
    text-align: center;
    margin: auto;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    width: 82%;
    height: auto;
    font-size: 0pt;
    /*background: red;*/
    overflow: scale;
}

#mosaicsoundcloud {
    z-index: 3;
}

.link {
    text-decoration: none;
    color: inherit;
    font-size: inherit;
}

footer {
    font-size: 10px;
}
